In [1]:
def outer():
    print('GM')
    def inner():
        print('GA')
outer()

GM

In [3]:
def outer():
    print('outer function')
    def inner():
        print('inner function')
    inner()
    inner()
outer()

outer function
inner function
inner function

In [8]:
#return the function
def outer():
    print('outer function')
    
    def inner():
        print('inner function')
        
        return 100
value=outer()
print(value)

outer function
None

In [13]:
#return the function
def outer():
    print('outer function')
    
    def inner():
        print('inner function')
        
    return inner
inner=outer()
inner()
inner()

outer function
inner function
inner function

In [15]:
#anonymus function
def add(x):
    return x+1
r1=add(100)
print(r1)

101

In [16]:
 x=lambda x:x+1 #{lambda means nameless function}
r1=add(100)
print(r1)

101

In [18]:
a=100
def add(a,b):
    print(a+b)
print(type(a))
print(type(add))

<class 'int'>
<class 'function'>

In [20]:
#converting normal function to lambda function
def add(a,b):
    return a+b
r1=add(10,20)
print(r1)

30

In [21]:
#map function     
def addplus(mark):  #map is used to execute provided function for every element of sequence.
    return mark+1
print(addplus(35))

36

In [24]:
marks=[34,10,15]
obj=map(addplus,marks)
print(type(obj))
print(list(obj))

<class 'map'>
[35, 11, 16]

In [1]:
#lambda example
def update(name):
    return name.lower()
name=update('Rahul')
print(name)

rahul

In [2]:
a=100
update=lambda  name:name.lower()
print(type(a))  #<class,int>
print(type(update))  #<class,function>
name=update('Rahul')
print(name)

<class 'int'>
<class 'function'>
rahul

In [5]:
#map function
numbers=[10,20,30,40]
def addplus(num):
    return num+1
r1=addplus(1)
print(r1)

2

In [8]:
map_obj=map(addplus,numbers)
new_numbers=list(map_obj)
print(new_numbers)

[11, 21, 31, 41]

In [10]:
numbers=[10,20,30,40]
def addplus(num):
    return num+1
map_obj=map(addplus,numbers)
new_numbers=list(map_obj)
print(numbers)
print(new_numbers)

[10, 20, 30, 40]
[11, 21, 31, 41]

In [11]:
numbers=[10,20,30,40]
#add 1 to every element and create new list
map_obj=map(lambda num:num+1,numbers)
print(numbers)
print(new_numbers)

[10, 20, 30, 40]
[11, 21, 31, 41]

In [15]:
#filter example:-
product_prices=[100,50,20,30,500,600,2000]
#display all product prices below 1000
new_prices=[]
for price in product_prices:
    if price <=1000:
        new_prices.append(price)
print(product_prices)
print(new_prices)

[100, 50, 20, 30, 500, 600, 2000]
[100, 50, 20, 30, 500, 600]

In [16]:
product_prices=[1000,50,20,30,500,600,2000]
#display all product prices below 1000
def filterdata(price):
    return price<1000
new_prices=list(filter(filterdata,product_prices))
print(product_prices)
print(new_prices)

[1000, 50, 20, 30, 500, 600, 2000]
[50, 20, 30, 500, 600]

In [17]:
#users data
users=[{'eid':1,'ename':'Nixie','email':'nmacquist0@walmart.com','gender':'Female'},
{'eid':2,'ename':'Joyce','email':'jnoell1@earthlink.net','gender':'Female'},
{'eid':3,'ename':'Barron','email':'bmccullen2@senate.gov','gender':'Male'},
{'eid':4,'ename':'Claudie','email':'cwale3@reverbnation.com','gender':'Female'},
{'eid':5,'ename':'Damiano','email':'dbourley4@cdbaby.com','gender':'Non-binary'},
{'eid':6,'ename':'Maxi','email':'mmanuely5@miitbeian.gov.cn','gender':'Female'},
{'eid':7,'ename':'Augusta','email':'ahanham6@163.com','gender':'Female'},
{'eid':8,'ename':'Trixy','email':'tstockney7@examiner.com','gender':'Female'},
{'eid':9,'ename':'Karalee','email':'kimpson8@amazon.co.uk','gender':'Female'},
{'eid':10,'ename':'Jodee','email':'jpresidey9@sohu.com','gender':'Female'},
{'eid':11,'ename':'Johnath','email':'jpaintera@telegraph.co.uk','gender':'Female'},
{'eid':12,'ename':'Delmer','email':'dgeppb@bloglovin.com','gender':'Male'},
{'eid':13,'ename':'Penny','email':'pcollenc@nba.com','gender':'Male'},
{'eid':14,'ename':'Regina','email':'rtunnockd@squidoo.com','gender':'Genderqueer'},
{'eid':15,'ename':'Vanni','email':'vhaslocke@cocolog-nifty.com','gender':'Female'},
{'eid':16,'ename':'Salomone','email':'slabordef@behance.net','gender':'Male'},
{'eid':17,'ename':'Ailene','email':'akobschg@tiny.cc','gender':'Genderfluid'},
{'eid':18,'ename':'Dane','email':'drappah@cnn.com','gender':'Male'},
{'eid':19,'ename':'Marietta','email':'mkinetoni@alibaba.com','gender':'Female'},
{'eid':20,'ename':'Becky','email':'blowethj@google.de','gender':'Non-binary'},
{'eid':21,'ename':'Aldwin','email':'acanonk@google.co.jp','gender':'Male'},
{'eid':22,'ename':'Claiborn','email':'crhymerl@ow.ly','gender':'Male'},
{'eid':23,'ename':'Isa','email':'iberndtssenm@yahoo.com','gender':'Male'},
{'eid':24,'ename':'Pooh','email':'pwittmann@google.co.jp','gender':'Male'},
{'eid':25,'ename':'Arielle','email':'apinchino@163.com','gender':'Genderfluid'},
{'eid':26,'ename':'Gerry','email':'gtiltp@diigo.com','gender':'Male'},
{'eid':27,'ename':'Richmound','email':'rkilgroveq@howstuffworks.com','gender':'Male'},
{'eid':28,'ename':'Vinnie','email':'vgrigoreyr@furl.net','gender':'Male'},
{'eid':29,'ename':'Barret','email':'blimpertzs@dmoz.org','gender':'Male'},
{'eid':30,'ename':'Matthias','email':'mmacshirriet@cafepress.com','gender':'Male'},
{'eid':31,'ename':'Carlotta','email':'cfalkousu@cdc.gov','gender':'Female'},
{'eid':32,'ename':'Lyell','email':'lcasemorev@goodreads.com','gender':'Male'},
{'eid':33,'ename':'Chester','email':'ctiesw@mapy.cz','gender':'Male'},
{'eid':34,'ename':'Sanson','email':'schristianx@stanford.edu','gender':'Male'},
{'eid':35,'ename':'Rancell','email':'rgaynesfordy@skyrock.com','gender':'Male'},
{'eid':36,'ename':'Gerek','email':'gbrozekz@paypal.com','gender':'Male'},
{'eid':37,'ename':'Waverley','email':'wfairest10@myspace.com','gender':'Male'},
{'eid':38,'ename':'Valene','email':'vitzig11@histats.com','gender':'Female'},
{'eid':39,'ename':'Jeannette','email':'jsaipy12@ycombinator.com','gender':'Female'},
{'eid':40,'ename':'Larry','email':'lredwin13@ftc.gov','gender':'Genderqueer'},
{'eid':41,'ename':'Sherwynd','email':'sartrick14@ca.gov','gender':'Male'},
{'eid':42,'ename':'June','email':'jwinning15@list-manage.com','gender':'Genderqueer'},
{'eid':43,'ename':'Hi','email':'hcorrado16@symantec.com','gender':'Male'},
{'eid':44,'ename':'Virgie','email':'vmaunsell17@odnoklassniki.ru','gender':'Male'},
{'eid':45,'ename':'Rosamond','email':'rschwaiger18@shinystat.com','gender':'Genderqueer'},
{'eid':46,'ename':'Elaina','email':'esertin19@histats.com','gender':'Female'},
{'eid':47,'ename':'Mable','email':'mgai1a@blog.com','gender':'Female'},
{'eid':48,'ename':'Wash','email':'wklisch1b@wufoo.com','gender':'Male'},
{'eid':49,'ename':'Herman','email':'hwilgar1c@aol.com','gender':'Non-binary'},
{'eid':50,'ename':'Dee dee','email':'dcooke1d@nationalgeographic.com','gender':'Female'}]

new_users=list(filter(lambda user:user['gender']=='Male',users))
print(len(new_users))

24

In [ ]:
#how many employess names  are start with k,A .

In [8]:
#example without using map function
numbers=[10,20,30,40]
new_numbers=[]
for num in numbers:
    new_numbers.append(num*num)
    print(new_numbers)

[100]
[100, 400]
[100, 400, 900]
[100, 400, 900, 1600]

In [11]:
#using map function
numbers=[10,20,30,40,50]
def lazy(num):
    return num*num
map_obj=map(lazy,numbers)
print(map_obj)

print(tuple(map_obj))
print(list(map_obj))

<map object at 0x0000022CE1B22AC8>
(100, 400, 900, 1600, 2500)
[]

In [12]:
#by using lambda function
numbers=[10,20,30,40,50]
list(map(lambda num:num*num,numbers))
print(numbers)
print(new_numbers)

[10, 20, 30, 40, 50]
[100, 400, 900, 1600]

In [13]:
#employee data example
emploees=[
{
'id': 1,
'name': 'Leanne Graham',
'username': 'Bret',
'email': 'Sincere@april.biz',
'address': {
'street': 'Kulas Light',
'suite': 'Apt. 556',
'city': 'Gwenborough',
'zipcode': '92998-3874',
'geo': {
'lat': '-37.3159',
'lng': '81.1496'
}
},
'phone': '1-770-736-8031 x56442',
'website': 'hildegard.org',
'company': {
'name': 'Romaguera-Crona',
'catchPhrase': 'Multi-layered client-server neural-net',
'bs': 'harness real-time e-markets'
}
},
{
'id': 2,
'name': 'Ervin Howell',
'username': 'Antonette',
'email': 'Shanna@melissa.tv',
'address': {
'street': 'Victor Plains',
'suite': 'Suite 879',
'city': 'Wisokyburgh',
'zipcode': '90566-7771',
'geo': {
'lat': '-43.9509',
'lng': '-34.4618'
}
},
'phone': '010-692-6593 x09125',
'website': 'anastasia.net',
'company': {
'name': 'Deckow-Crist',
'catchPhrase': 'Proactive didactic contingency',
'bs': 'synergize scalable supply-chains'
}
},
{
'id': 3,
'name': 'Clementine Bauch',
'username': 'Samantha',
'email': 'Nathan@yesenia.net',
'address': {
'street': 'Douglas Extension',
'suite': 'Suite 847',
'city': 'McKenziehaven',
'zipcode': '59590-4157',
'geo': {
'lat': '-68.6102',
'lng': '-47.0653'
}
},
'phone': '1-463-123-4447',
'website': 'ramiro.info',
'company': {
'name': 'Romaguera-Jacobson',
'catchPhrase': 'Face to face bifurcated interface',
'bs': 'e-enable strategic applications'
}
},
{
'id': 4,
'name': 'Patricia Lebsack',
'username': 'Karianne',
'email': 'Julianne.OConner@kory.org',
'address': {
'street': 'Hoeger Mall',
'suite': 'Apt. 692',
'city': 'South Elvis',
'zipcode': '53919-4257',
'geo': {
'lat': '29.4572',
'lng': '-164.2990'
}
},
'phone': '493-170-9623 x156',
'website': 'kale.biz',
'company': {
'name': 'Robel-Corkery',
'catchPhrase': 'Multi-tiered zero tolerance productivity',
'bs': 'transition cutting-edge web services'
}
},
{
'id': 5,
'name': 'Chelsey Dietrich',
'username': 'Kamren',
'email': 'Lucio_Hettinger@annie.ca',
'address': {
'street': 'Skiles Walks',
'suite': 'Suite 351',
'city': 'Roscoeview',
'zipcode': '33263',
'geo': {
'lat': '-31.8129',
'lng': '62.5342'
}
},
'phone': '(254)954-1289',
'website': 'demarco.info',
'company': {
'name': 'Keebler LLC',
'catchPhrase': 'User-centric fault-tolerant solution',
'bs': 'revolutionize end-to-end systems'
}
},
{
'id': 6,
'name': 'Mrs. Dennis Schulist',
'username': 'Leopoldo_Corkery',
'email': 'Karley_Dach@jasper.info',
'address': {
'street': 'Norberto Crossing',
'suite': 'Apt. 950',
'city': 'South Christy',
'zipcode': '23505-1337',
'geo': {
'lat': '-71.4197',
'lng': '71.7478'
}
},
'phone': '1-477-935-8478 x6430',
'website': 'ola.org',
'company': {
'name': 'Considine-Lockman',
'catchPhrase': 'Synchronised bottom-line interface',
'bs': 'e-enable innovative applications'
}
},
{
'id': 7,
'name': 'Kurtis Weissnat',
'username': 'Elwyn.Skiles',
'email': 'Telly.Hoeger@billy.biz',
'address': {
'street': 'Rex Trail',
'suite': 'Suite 280',
'city': 'Howemouth',
'zipcode': '58804-1099',
'geo': {
'lat': '24.8918',
'lng': '21.8984'
}
},
'phone': '210.067.6132',
'website': 'elvis.io',
'company': {
'name': 'Johns Group',
'catchPhrase': 'Configurable multimedia task-force',
'bs': 'generate enterprise e-tailers'
}
},
{
'id': 8,
'name': 'Nicholas Runolfsdottir V',
'username': 'Maxime_Nienow',
'email': 'Sherwood@rosamond.me',
'address': {
'street': 'Ellsworth Summit',
'suite': 'Suite 729',
'city': 'Aliyaview',
'zipcode': '45169',
'geo': {
'lat': '-14.3990',
'lng': '-120.7677'
}
},
'phone': '586.493.6943 x140',
'website': 'jacynthe.com',
'company': {
'name': 'Abernathy Group',
'catchPhrase': 'Implemented secondary concept',
'bs': 'e-enable extensible e-tailers'
}
},
{
'id': 9,
'name': 'Glenna Reichert',
'username': 'Delphine',
'email': 'Chaim_McDermott@dana.io',
'address': {
'street': 'Dayna Park',
'suite': 'Suite 449',
'city': 'Bartholomebury',
'zipcode': '76495-3109',
'geo': {
'lat': '24.6463',
'lng': '-168.8889'
}
},
'phone': '(775)976-6794 x41206',
'website': 'conrad.com',
'company': {
'name': 'Yost and Sons',
'catchPhrase': 'Switchable contextually-based project',
'bs': 'aggregate real-time technologies'
}
},
{
'id': 10,
'name': 'Clementina DuBuque',
'username': 'Moriah.Stanton',
'email': 'Rey.Padberg@karina.biz',
'address': {
'street': 'Kattie Turnpike',
'suite': 'Suite 198',
'city': 'Lebsackbury',
'zipcode': '31428-2261',
'geo': {
'lat': '-38.2386',
'lng': '57.2232'
}
},
'phone': '024-648-3804',
'website': 'ambrose.net',
'company': {
'name': 'Hoeger LLC',
'catchPhrase': 'Centralized empowering task-force',
'bs': 'target end-to-end models'
}
}
]
new_employee_data=[]
for emp in employees:

SyntaxError: unexpected EOF while parsing (3784047924.py, line 235)

In [15]:
#how to create dict object
emp={
    'id':101,
    'name':'Rahul',
    'sal':45000
}
user={}
user['id']=emp['id']
user['name']=emp['name']
print(emp)
print(user)

{'id': 101, 'name': 'Rahul', 'sal': 45000}
{'id': 101, 'name': 'Rahul'}

In [4]:
#print dict object
employees={
    'id':101,
    'name':'Rahul',
    'sal':45000
   }
new_emp_data=[]
for emp in employees:
    user={'id':emp['id'],'name':emp['name']}
    
    new_emp_data.append(user)
    
print(new_emp_data)

TypeError: string indices must be integers

In [8]:
new_emp_data=[]
for emp in employees:
    user={}
    user['id']=emp['id']
    user['name']=emp['name']
    new_emp_data.append(user)
    
print(new_emp_data)

TypeError: string indices must be integers

In [6]:
product_prices=[100,200,300,400,500]
new_prices=[]
for price in product_prices:
    new_prices.append(price-1)
    
print(new_prices)

[99, 199, 299, 399, 499]

In [5]:
employees = {
    'id': 101,
    'name': 'Rahul',
    'sal': 45000
}

new_emp_data = []

# Accessing the values directly from the dictionary
user = {'id': employees['id'], 'name': employees['name']}

new_emp_data.append(user)

print(new_emp_data)

[{'id': 101, 'name': 'Rahul'}]

In [9]:
#map function
numbers=[1,1,1,1,1]
map_obj=map(lambda num:num+1,numbers)
l=list(map_obj)
s=set(map_obj)
t=tuple(map_obj)
print(l)
print(s)
print(t)

[2, 2, 2, 2, 2]
set()
()

In [17]:
#without map
def plusone(ele):
    return ele+1
numbers=[1,1,1,1,1]
map_obj=map(plusone,numbers)
l=list(map_obj)
s=set(map_obj)
t=tuple(map_obj)
print(l)
print(s)
print(t)

[2, 2, 2, 2, 2]
set()
()