In [1]:
#print 'GM'-20 times
#print 10-50
#print first 10 even numbers
#print 100-1
#print 5 table

In [2]:
#print 'GM'-20 times
for ele in range(20):
    print('GM')

GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM
GM

In [4]:
#print 10-50
for ele in range(10,51,1):
       print(ele)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [6]:
#print first 10 even numbers
for i in range(0,19,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [7]:
#print 100-1
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [8]:
#print 5 table
for i in range(1,11,1):
    print("5*",i,"=",5*i)

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [11]:
#print 100-1

for i in range(100,0,-1):

     print(i,end='  ')

100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

In [ ]:
#print 1,2,3,4,6,7,8,9,10  ( here we use continue key word it is used to skip continuos iteration and move to next iteration)
i=1
while i<=10:
     if i==5:
        continue

         print(i)
    i=i+1

In [ ]:
i=1
while i<=10:
    if i==5:
        pass
    else:
        print(i)
    i=i+1

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i)

In [ ]:
#print *
#      **
#      ***
        
for i in range(1,5)
     for j in range(i+1):
        print("*",end="")
    print()

In [ ]:
#print A
#      A B 
#      A B C
#      A B C D