In [22]:
ename='Rahul'
enames=['Rahul','Sonia','Priya']
t=(10,20,30)
eids={101,102,103,104,105}
emp={
    'id':101,
    'name' :'Rahul',
    'sal':'45000'
}
for i in enames:
    print(i)

Rahul
Sonia
Priya

In [5]:
enames=['Rahul','Sonia','Priya']
for ename in enames:
    print(ename)

Rahul
Sonia
Priya

In [6]:
#print 1,10
#print 1,100
#print 5 to 50
#print 100..to 51

In [7]:
#print 1..to 10
for x in range(1,11,1):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [10]:
#print 1,100
for x in range(1,101,1):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
#print 5 to 50
for x in range(5,51,1):
    print(x)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [13]:
#print 100..to 51
for x in range(100,50,-1):
    print(x)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51

In [15]:
#print 5 table
for i in range (1,11):
    print(5,"*",i,"=",5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [18]:
#print 1st even numbers
for x in range(0,19,2):
    print(x)

0
2
4
6
8
10
12
14
16
18

In [19]:
#print 1st even numbers using tabspace
for x in range(0,19,2):
    print(x, end="\t")

0	2	4	6	8	10	12	14	16	18

In [23]:
emp={
    'id':101,
    'name' :'Rahul',
    'sal':'45000'
}
for key in emp:
    print(key)

id
name
sal

In [24]:
#key ,value in employee.items():
for k,v in emp.items():
    print(k,":",v)

id : 101
name : Rahul
sal : 45000

In [25]:
emp={
    'id':101,
    'name' :'Rahul',
    'sal':'45000'
}
for k,v in emp.items():
    print(k,":",v)
#here key is concatinating the value

id : 101
name : Rahul
sal : 45000

In [1]:
#While loop statements
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [2]:
#print 'GM'-20 times
#print 10-50
#print first 10 even numbers
#print 100-1
#print 5 table

In [5]:
#print 5 table
i=10
while i<=10:
     print(i)
     i=i+1

10

In [8]:
i=1
while i<=20:
     print("GOOD MORNING",i)
     i=i+1

GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING
GOOD MORNING

In [9]:
#print 10 - 50
i=10
while i<=50:
     print(i)
     i=i+1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [13]:
#print 1 st 10 even numbers
i=0
while i<=18:
     print(i)
     i=i+2

0
2
4
6
8
10
12
14
16
18

In [18]:
#print 100 to 1 numbers
i=100
while i>=1:
      print(i)
      i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [19]:
#print 5 table
i=1
while i<=10:
    print("5*",i,"=",i*5)
    i=i+1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [21]:
#first even number 2,4,6,8,10,12,14
i=0
while i<=18:
    print(i,end=",")
    i=i+2

0,2,4,6,8,10,12,14,16,18,

In [22]:
#print 7 table
i=1
while i<=10:
    print("7*",i,"=",i*7)
    i=i+1

7* 1 = 7
7* 2 = 14
7* 3 = 21
7* 4 = 28
7* 5 = 35
7* 6 = 42
7* 7 = 49
7* 8 = 56
7* 9 = 63
7* 10 = 70