In [1]:
d1={}
print(d1)

{}

In [2]:
d1={}
print(type(d1))

<class 'dict'>

In [4]:
#what is dict object? group of key:values are not entered
#or
#group of properties(property name and value)
emp ={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp)

{'eid': 101, 'ename': 'Rahul', 'esal': 45000.45, 'avail': True}

In [6]:
#List and tuple-duplicate elements are allowed
#set-duplicate elements are not allowed
#dict-duplicate key are not allowed
emp ={
    'eid':101,
    'eid':102,
    'eid':103,
    'eid':104
   
}
print(emp)

{'eid': 104}

In [9]:
emp ={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp['eid'])

101

In [12]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
# print all dict value?
print(emp['eid'])
print(emp['ename'])
print(emp['esal'])
print(emp['avail'])

101
Rahul
45000.45
True

In [13]:
emp={
    'eid':101,
    'ename':'Rahul',
    'esal':45000.45,
    'avail':True
}
print(emp.get('eid'))
print(emp.get('ename'))
print(emp.get('esal'))
print(emp.get('avail'))

101
Rahul
45000.45
True

In [14]:
#iterating dict object using keys
#print all keys
for key in emp.keys():
    print(key)

eid
ename
esal
avail

In [16]:
#print all values
for value in emp.values():
    print(value)

101
Rahul
45000.45
True

In [18]:
#print key & values
for key,value in emp.items():
    print(key,value)

eid 101
ename Rahul
esal 45000.45
avail True